<% @product8.each do |product8| %>
  <div class='list'>
    <div class='product-img-content'>
      <%= image_tag product8.image, class: "product-img" %>
    </div>
    <div class='product-info'>
      <h3 class='product-name'>
        <%= product8.product_name %>
      </h3>
      <div class='product-company'>
        <span><%= product8.company.name %></span>
      </div>
    </div>
  </div>
<% end %>
