<% @product11.each do |product11| %>
  <div class='list'>
    <div class='product-img-content'>
      <%= image_tag product11.image, class: "product-img" %>
    </div>
    <div class='product-info'>
      <h3 class='product-name'>
        <%= product11.product_name %>
      </h3>
      <div class='product-company'>
        <span><%= product11.company.name %></span>
      </div>
    </div>
  </div>
<% end %>
